@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "https://js.arcgis.com/4.27/@arcgis/core/assets/esri/themes/light/main.css"; */

/* Hide the horizontal scrollbar */
::-webkit-scrollbar {
  width: 0.5rem; /* You can adjust the width as needed */
  height: 0.5rem; /* You can adjust the height as needed */
}

::-webkit-scrollbar-track {
  background: transparent; /* Make the scrollbar track transparent */
}

::-webkit-scrollbar-thumb {
  background: transparent; /* Make the scrollbar thumb (the draggable part) transparent */
}

.map-button {
  background: white;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
}
